---
import { getCollection } from "astro:content";

import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogPostPreview from "../../components/BlogPostPreview.astro";

export async function getStaticPaths() {
  const allPosts = await getCollection("posts");

  const uniqueTags = [...new Set(allPosts.flatMap((post) => post.data.tags))];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.data.tags?.includes(tag)
    );

    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout pageTitle={tag}>
  {
    posts.length >= 0 ? (
      <div id="post-grid" class="grid sm:grid-cols-2 gap-6 lg:gap-12">
        {posts.map((post) => (
          <BlogPostPreview
            image={post.data.image.url}
            alt={post.data.image.alt}
            url={`/posts/${post.slug}/`}
            title={post.data.title}
            excerpt={post.data.description}
            author={post.data.author}
            pubDate={post.data.pubDate}
          />
        ))}
      </div>
    ) : (
      <div class="text-center">
        <h2>No posts yet</h2>
      </div>
    )
  }
</BaseLayout>
