---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPostPreview from "../components/BlogPostPreview.astro";
const allPosts = await Astro.glob("../pages/posts/*.md");
---

<BaseLayout>
  {
    allPosts.length >= 0 ? (
      <div class="grid md:grid-cols-2 gap-6 md:gap-12">
        {allPosts.map((post) => (
          <BlogPostPreview
            image={post.frontmatter.image.url}
            alt={post.frontmatter.image.alt}
            url={post.url}
            title={post.frontmatter.title}
            excerpt={post.frontmatter.description}
            author={post.frontmatter.author}
            pubDate={post.frontmatter.pubDate}
          />
        ))}
      </div>
    ) : (
      <div class="text-center">
        <h2>No posts yet</h2>
      </div>
    )
  }
</BaseLayout>
