---
import BaseLayout from "../layouts/BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout visible={false}>
  <h1>{frontmatter.title}</h1>
  <p>Published on: {frontmatter.pubDate.slice(0, 10)}</p>
  <p>Written by <a class="text-indigo-600 underline" href="/about/">{frontmatter.author}</a></p>
  <div class="tags">
    <h2>Tags</h2>
    <ul>
      {
        frontmatter.tags.map((tag) => (
          <li>
            <a href={`/tags/${tag}`}>{tag}</a>
          </li>
        ))
      }
    </ul>
  </div>
  <img src={frontmatter.image.url} width="300" alt={frontmatter.image.alt} />
  <slot />
</BaseLayout>
